body {
	margin: auto;
	padding: 0;
	text-align: center;
	width: 900px;
	background-color: gold;
}
.nic {
	
	background-color: black; 
	height: 50px; 
}
footer {
	background-color: black;
	color: gold;
	height: 20px;
	width:900px;
	padding: 10px;
}